
div {
    font-family: Arial, sans-serif;
    /* background-color: black;
    color: white; */
  }
  .NavBar{
    height: 5rem;
    margin-bottom: 4px;
  }
  .logo{
    display: inline;
  }
  .profile{
    height: 4rem;
    position: absolute;
    right: 0;
    border-width: 1px;
    padding: 2px;
    border-color: black;
    border-radius: 50%;
  }
  /* Styles for the notes section */
  .notes-section {
    margin-bottom: 2rem;
  }
  
  .notes-section h2 {
    color: #333;
    font-size: 24px;
  }
  
  /* Styles for individual notes - assuming your Note component has some container element */
  .note {
    background-color: #f9f9f9;
    border-left: 5px solid #007bff;
    margin: 10px 0;
    padding: 10px 15px;
    border-radius: 5px;
  }
  
  /* Styles for the form section */
  form {
    background-color: #7D98A1;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    max-width: 500px;
    margin: auto;
  }
  
  form h2 {
    color: #333;
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  form label {
    color: black;
    font-weight: bold;
    margin-top: 10px;
  }
  
  form input,
  form textarea {
    width: 100%;
    padding: 8px;
    margin: 8px 0 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    background-color: aliceblue
  }
  
  form input[type="submit"] {
    background-color: #007bff;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
  }
  
  form input[type="submit"]:hover {
    background-color: #0056b3;
  }
  .application-creation {
    margin: 20px auto;
    max-width: 600px;
}

.NavBar {
    padding: 20px;
    background-color: #2d3748;
}

.NavBar img {
    height: 50px;
}
