html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: black;
  }

.to_login{
    text-align: center;
}
.to_signup{
    text-align: center;
}
.form-input::placeholder {
    color: white;
    opacity: 1; /* Ensures full opacity for placeholder text */
}