<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    <h3>Hello</h3>
    <form action="{% url 'logout' %}" method="post">
        {% csrf_token %}
        <button type="submit">Logout</button>
    </form>
    <h4>View Items</h4>
    <form action="{% url 'item_list' %}" method="get">
        {% csrf_token %}
        <button type="submit">View</button>
    </form>
</body>
</html>