<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Shopping items</title>
</head>
<body>
    <!-- <ul>
        {% for item in items %}
            <li>{{item.name}}: ${{item.price}} (Discount: {{item.Discount}}%)</li>
        {%endfor%}
    </ul> -->
    <form action="{% url 'api-read' %}" method="get">
        {% csrf_token %}
        <button type="submit">Read</button>
    </form>
    <br>
    <form action="{% url 'api-create' %}" method="post">
        {% csrf_token %}
        <button type="submit">Create</button>
    </form>
</body>
</html>